{% extends "layout.html" %}
{% block body %}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Email Spam Classifier Project</h1>
        <p class="lead">This is the email project to predict the average amount of dollars spent based on the page loading speed.</p>
    </div>
</div>

<form action="/predict" method="POST">
    <div class="form-group">
        <label for="value">Email:</label>
        <input type="text" class="form-control" name="value">
        <small id="value" class="form-text text-muted">Enter the test  email here:</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}